@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: rgb(0, 134, 255);
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

header img{
    height: 20px;
}

hr{
    background-image: linear-gradient( to right, rgb(255, 251, 0), rgb(255, 0, 0), rgb(204, 0, 255), rgb(0, 132, 255), rgb(0, 255, 0) );    
    height: 5px;
    border: 0px;
}

main .login input{
    height: 40px;
    width: 82%;
    padding: 0px 15px;
    margin-top: 6px;
    font-size: 16px;
    color: rgb(70, 70, 70);
}

main .login h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(51, 51, 51, 0.89);
    margin-top: 20px;
    margin-left: 19px;
    margin-bottom: 1px;
}

main .login button{
    width: 91%;
    height: 42px;
    background-color: #56b80c;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    border: 0px;
    border-radius: 5px;
}

main .login p{
    font-size: 15px;
    color: rgba(31, 30, 30, 0.89);
    margin-left: 20px;
    text-decoration: underline;
}

main .login h5{
    margin-top: 10px;
    margin-bottom: 10px;   
}

main #p1{
    font-size: 13px;
    color: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 17px;
    margin-right: 17px;
}

footer{
    background-color: rgb(224, 224, 224);
    font-size: 13px;
    color: rgb(107, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

footer p{
}